/* font-family: 'Inter', sans-serif;
font-family: 'Kanit', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  /* display: block;
  width: 100%; */
  display: grid;
  background-color: #eceef3;
}

.contrainer {
  width: 100%;
  height: 100%;
  background-color: #eceef3;
}

header {
  display: grid;
  width: 100%;
  position: relative;
  z-index: 1;
}

.bg {
  position: relative;
  width: 100%;
}

.background {
  position: relative;
  width: 100%;
  height: 500px;
}

#box {
  position: absolute;
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto;
  width: 99%;
  height: 500px;
  grid-gap: 28px;
  justify-content: center;
  align-items: center;
}

.poster {
  max-width: 250px;
}

.box-detail {
  display: grid;
  grid-template-columns: auto;
  width: 380px;
  height: 300px;
}

.detail-button {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.detail-text {
  line-height: 2;
  font-family: "Kanit", sans-serif;
  color: #fff;
  font-size: 20px;
}

.textseat {
  display: flex;
  min-width: 200px;
  margin: auto;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: #fff;
}

.select {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  min-width: 200px;
  padding: 10px 0px;
  color: #fff;
  border: none;
  font-size: 15px;
  background-image: linear-gradient(
    251.81deg,
    #9167f1 -38.42%,
    #1f0297 170.71%
  );
}

option {
  color: #000;
}

.buy-ticket {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px 0px;
  width: 90px;
  color: #fff;
  border: none;
  font-size: 15px;
  background-image: linear-gradient(
    251.81deg,
    #f861c0 -38.42%,
    #1f0297 170.71%
  );
}

.body {
  display: flex;
  /* background-color: #9167F1; */
  height: 200px;
  justify-content: center;
}

#box-date {
  display: grid;
  margin-top: 30px;
  margin-left: 300px;
  margin-bottom: 30px;
  gap: 20px 10px;
  width: 400px;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  text-align: center;
}

.btn {
  text-align: center;
  background: linear-gradient(251.81deg, #9167f1 -38.42%, #1f0297 170.71%);
  border-radius: 11px;
  color: #fff;
}

.btn-sold {
  text-align: center;
  background: #d9d9d9;
  border-radius: 11px;
  color: #fff;
}
